
*{
    margin: 0;
    border: 0;
}

[class*="col-"]{
    box-sizing: border-box;
    float:right;

}

.row::after{
    content: "";
    clear:both;
    display: table;
}


[class*="col-"]{
    width:100%;
}





/* support mobil first */
@media (min-width:600px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}    
}

@media (min-width:768px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media (min-width:992px){
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

@media (min-width:1200px){
    .col-xlg-1 {width: 8.33%;}
    .col-xlg-2 {width: 16.66%;}
    .col-xlg-3 {width: 25%;}
    .col-xlg-4 {width: 33.33%;}
    .col-xlg-5 {width: 41.66%;}
    .col-xlg-6 {width: 50%;}
    .col-xlg-7 {width: 58.33%;}
    .col-xlg-8 {width: 66.66%;}
    .col-xlg-9 {width: 75%;}
    .col-xlg-10 {width: 83.33%;}
    .col-xlg-11 {width: 91.66%;}
    .col-xlg-12 {width: 100%;}
}


.he{ 
    height: 100vh;
    max-height: 100vh;
    position: relative;
   
    
    background-image: url('../img/image.jpg');
    background-repeat: no-repeat;
    
    background-position-x: right;
    background-position-y: 50px;
     
}
.second-lyer{
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .5;
}
.logo {
    width: 25%;
    float: left;
    text-transform: uppercase;
    color: #000;
    font-size: 25px;
    text-align: left;
    padding: 10px 25px;
  }
.logo span{
    color:crimson ;
}
ul{
    list-style-type: none;
    margin-top:10px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 1;
    
}

li{
    display : inline;
    
    padding: 15px;

    
}
li a{
    
    border-radius: 3px;
    border-color: #ccc;
    text-decoration:none;
    color:#fff
}

a:hover, a:focus, a:active {
    color:crimson;
    text-decoration: none;
}
a:hover {
    color: crimson;
    text-decoration: underline;
}
.social ul{
    margin-top: 70vh;
}
.social li{
   
    display :block
}

.head-text{
    
  position: absolute;
    color: #fff;

    font-size:15px;
    top:45vh;
    
}
h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: #000;
}
 h1 span {
	color:crimson ;
}
h1,h3{
    text-align: center;
}

/* Services Section */
#services .services {
	
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#services .service-butoon{
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 10px; 
    margin-top: 20px;
}

#services .service-top h1{
    color: #000;
    margin: 5px;
    padding: 5px;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
   
    margin-top: 5px;
    
}
/* #services .service-bottom h2{
    position: absolute;
    text-align: center;
    color: #000;

} */
#services .service-item {
	
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
	background-image: url(../img/img-1.png);
	background-size: cover;
	margin:5px;
	position: relative;
	z-index: 1;
    overflow: hidden;
    margin: 1px;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
    margin-bottom: 20px;
    text-align: left;
    color:red;
    font-size:60px;
    text-align: center;
}
#services .service-item h2 {
	font-size: 2rem;
    color: #000;
    text-align: center;
	margin-bottom: 10px;
    text-transform: uppercase;
    position: absolute;
}
#services .service-item p {
	color: white;
	text-align: center;
}
#services .service-butoon button{
    border: crimson solid 2px;
    color: #000;
    font-style: italic;
    margin-top: 10px;
    font-weight: bold;
    }

/* End Services Section */
/* contact us styles */

.content {
    clear: #000;
    text-align: center;
}
.contact-form {
    padding: 0px 15px 0px 15px;
  }


  .form-control {
    border: 2px solid rgba(0, 0, 0, 0.27);
    width: 80%;
    max-width: 100%;
    height: 3em;
    font-size: 16px;
    padding: 1em;
    margin: .5em 0 2em 0;
    font-weight: bold;
    text-align: left;
  }

  textarea {
    min-height: 10em;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
  }

  #submit {
    outline: none;
    padding: 12px;
    min-width: 200px;
    border-radius: 2px;
    border: 2px solid #FF6363;
    text-align: center;
    font-size: 1em;
    color: #FF6363;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  #submit:hover {
    background-color: #FF6363;
    color: white;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
